body {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    background-image: url('../img/adrien-olichon.jpg');
    background-size: cover;
}

.skills, .hobby, .formacao {
    background-color:#fefefe;
}

footer {
    background-color: #fefefe;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}