.hobby {
    display: flex;
    flex-direction: column;
}

.hobby__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.hobby__box {
    align-items: center;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20rem;
}

.hobby__box:hover {
    background: lightgrey;
}

.hobby__titulo {
    color: #303030;
    padding-top: 2rem;
    text-align: center;
    font-size: 30px;
}

