.menu__navegacao {
    display: flex;
    justify-content: space-between;
}

.menu__navegacao___link {
    color: white;
}

.menu__navegacao___link:last-child {
    color: white;
    margin-right: 2rem;
}

.menu__navegacao___link:hover {
    text-transform: uppercase;
    font-weight: 700;
    background: #2A7AE4;
    color: white;
}

#menu__email {
    font-weight: 700;
}
