
.menu .menu__container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.menu__titulo {
    color: #030c74;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}