.apresentacao .apresentacao__container {
    align-items: center;
    background-image: url("../../img/manik-roy.jpg");
    background-size: cover;
    display: flex;
    height: 70vh;
    justify-content: space-around;
}
