.apresentacao__link___container {
    display: flex;
    font-weight: 700;
    gap: 4rem;
    justify-content: center;
    margin-top: 2rem;
}

.apresentacao__link {
    color: #404040;
    padding: 8px;
    transition: 1s;
}

.apresentacao__link:hover {
    background-color: #2A7AE4;
    border: 1px solid #303030;
    border-radius: 5px;
    color: #f8f8f8;
    cursor: pointer;
}