.apresentacao__texto {
    width: 70%;
}

.apresentacao__titulo {
    color: #303030;  
    font-weight: 700;
}

.apresentacao__subtitulo {
    color: #404040;
    font-weight: 400;
    
}

@keyframes blink {
    from {
        border-color: black;
    }
    
    to {
        border-color: transparent;
    }
}
